<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <title>Reset Password</title>
  <style>
    input{
width:92%;}
  </style>
</head>
<body>
  <div class="container">
    <h2>Reset Password 🔐</h2>

    <form action="/auth/reset-password" method="POST" onsubmit="return validatePasswords()">
      <input type="hidden" name="token" value="<%= token %>" />

<div class="form-group" style="position: relative;">
<label>New Password:</label>
  <input type="password" id="password" name="password" placeholder="Password" required />
  <label style="position: absolute; right: 15px; top: 70%; transform: translateY(-50%); display: flex; align-items: center;">
    <input type="checkbox" id="togglePassword" style="margin-right: 5px;" />
    <span style="font-size: 15px;position: relative; top: 2px;">show</span>
  </label>
</div>
<br>
<div class="form-group" style="position: relative;">
<label>Confirm Password:</label>
 <input type="password"name="confirmPassword" id="confirmPassword" placeholder="ConfirmPassword" required />  
  <label style="position: absolute; right: 15px; top: 70%; transform: translateY(-50%); display: flex; align-items: center;">
    <input type="checkbox" id="togglePass" style="margin-right: 5px;" />
    <span style="font-size: 15px;position: relative; top: 2px;">show</span>
  </label>
</div>
<br>
      <button type="submit">Reset Password</button>
    </form>

    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
  </div>

  <script>
    document.getElementById('togglePassword').addEventListener('change', function () {
      const type = this.checked ? 'text' : 'password';
      document.getElementById('password').type = type;
      
    });
document.getElementById('togglePass').addEventListener('change', function () {
      const type = this.checked ? 'text' : 'Password';
      document.getElementById('confirmPassword').type = type;
    });

    function validatePasswords() {
      const pwd = document.getElementById('password').value;
      const cpwd = document.getElementById('confirmPassword').value;
      if (pwd !== cpwd) {
        alert("❌ Passwords do not match!");
        return false;
      }
      return true;
    }
  </script>
</body>
</html>
